body{
    background-color: blueviolet;
    font-family: sans-serif;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

img{
    
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    height: 750px;
    box-shadow: 5px 5px 5px  black;
    border-radius: 0.5%;
}

.pessoas{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
}

h1{
    margin-left: 15px;
}

.idade{
    color: gray;
    margin-left: 5px;
}

h3{
    margin-left: 5px;
}
